src/main/resources/login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="urn:SegurancaWebServiceSEG"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="urn:SegurancaWebServiceSEG"
	xmlns:intf="urn:SegurancaWebServiceSEG"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://vo.seg.certegy.com.br"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	

	<wsdl:types>
		<schema targetNamespace="http://vo.seg.certegy.com.br"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			
			<complexType name="LoginPciRequest">
				<sequence>
					<element name="nmUsuario" nillable="true" type="xsd:string" />
					<element name="snUsuario" nillable="true" type="xsd:string" />
					<element name="cdSistema" nillable="true" type="xsd:string" />
					<element name="ipUsuario" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			
			<complexType name="SaidaUsuarioWSVO">
				<sequence>
					<element name="cdErroRetorno" nillable="true" type="soapenc:string" />
					<element name="cdSistema" nillable="true" type="soapenc:string" />
					<element name="cdUsuario" nillable="true" type="soapenc:string" />
					<element name="dsErroRetorno" nillable="true" type="soapenc:string" />
					<element name="nmNomeUsuario" nillable="true" type="soapenc:string" />
					<element name="nmUsuario" nillable="true" type="soapenc:string" />
				</sequence>
			</complexType>
			<complexType name="SegurancaVO">
				<sequence>
					<element name="alreadyLoggedIn" type="xsd:boolean" />
					<element name="cdLogo" nillable="true" type="soapenc:string" />
					<element name="cdLoja" type="xsd:int" />
					<element name="cdOrganizacao" type="xsd:int" />
					<element name="cdPerfil" type="xsd:int" />
					<element name="cdSistema" type="xsd:int" />
					<element name="cdUsuario" type="xsd:int" />
					<element name="dsErrorPage" nillable="true" type="soapenc:string" />
					<element name="dtFimValidade" nillable="true" type="xsd:dateTime" />
					<element name="nmArquivoImagemLogo" nillable="true" type="soapenc:string" />
					<element name="nmArquivoImagemOrganizacao" nillable="true" type="soapenc:string" />
					<element name="nmNomeUsuario" nillable="true" type="soapenc:string" />
					<element name="nmSistema" nillable="true" type="soapenc:string" />
					<element name="nmUsuario" nillable="true" type="soapenc:string" />
					<element name="permissoes" nillable="true" type="apachesoap:Map" />
				</sequence>
			</complexType>
			<complexType name="RetornoSegurancaWSVO">
				<sequence>
					<element name="codigo" nillable="true" type="soapenc:string" />
					<element name="descricao" nillable="true" type="soapenc:string" />
					<element name="seguranca" nillable="true" type="tns1:SegurancaVO" />
				</sequence>
			</complexType>
			<complexType name="RetornoWSVO">
				<sequence>
					<element name="cdErroRetorno" nillable="true" type="soapenc:string" />
					<element name="dsErroRetorno" nillable="true" type="soapenc:string" />
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="http://xml.apache.org/xml-soap"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://vo.seg.certegy.com.br" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="mapItem">
				<sequence>
					<element name="key" nillable="true" type="xsd:anyType" />
					<element name="value" nillable="true" type="xsd:anyType" />
				</sequence>
			</complexType>
			<complexType name="Map">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>

	<wsdl:message name="loginPCIRequest">
		<wsdl:part name="getLoginPciRequest" type="tns1:LoginPciRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="alterarSenhaRequest">
		<wsdl:part name="nmUsuario" type="xsd:string"></wsdl:part>
		<wsdl:part name="senhaAtual" type="xsd:string"></wsdl:part>
		<wsdl:part name="novaSenha" type="xsd:string"></wsdl:part>
		<wsdl:part name="cdSistema" type="xsd:string"></wsdl:part>
		<wsdl:part name="ipUsuario" type="xsd:string"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="loginResponse">
		<wsdl:part name="getLoginReturn" type="tns1:SaidaUsuarioWSVO"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="alterarSenhaResponse">
		<wsdl:part name="getAlterarSenhaReturn"	type="tns1:RetornoWSVO"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="loginPCIResponse">
		<wsdl:part name="getLoginPCIReturn" type="tns1:RetornoSegurancaWSVO"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="resetSenhaResponse">
		<wsdl:part name="getResetSenhaReturn" type="tns1:RetornoWSVO"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="validarSenhaRequest">
		<wsdl:part name="snUsuario" type="xsd:string"></wsdl:part>
		<wsdl:part name="idPoliticaAutenticacao" type="xsd:string"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="validarSenhaResponse">
		<wsdl:part name="getvalidarSenhaReturn"	type="tns1:RetornoWSVO"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="loginRequest">
		<wsdl:part name="nmUsuario" type="xsd:string"></wsdl:part>
		<wsdl:part name="snUsuario" type="xsd:string"></wsdl:part>
		<wsdl:part name="cdSistema" type="xsd:string"></wsdl:part>
		<wsdl:part name="ipUsuario" type="xsd:string"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="resetSenhaRequest">
		<wsdl:part name="nmUsuario" type="xsd:string"></wsdl:part>
		<wsdl:part name="novaSenha" type="xsd:string"></wsdl:part>
		<wsdl:part name="cdSistema" type="xsd:string"></wsdl:part>
		<wsdl:part name="ipUsuario" type="xsd:string"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SegurancaWebService">

		<wsdl:operation name="login" parameterOrder="nmUsuario snUsuario cdSistema ipUsuario">
			<wsdl:input message="impl:loginRequest"	name="loginRequest"></wsdl:input>
			<wsdl:output message="impl:loginResponse" name="loginResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="loginPCI"	parameterOrder="nmUsuario snUsuario cdSistema ipUsuario">
			<wsdl:input message="impl:loginPCIRequest" name="loginPCIRequest"></wsdl:input>
			<wsdl:output message="impl:loginPCIResponse" name="loginPCIResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="alterarSenha"
			parameterOrder="nmUsuario senhaAtual novaSenha cdSistema ipUsuario">

			<wsdl:input message="impl:alterarSenhaRequest"
				name="alterarSenhaRequest">

			</wsdl:input>

			<wsdl:output message="impl:alterarSenhaResponse"
				name="alterarSenhaResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="validarSenha"
			parameterOrder="snUsuario idPoliticaAutenticacao">

			<wsdl:input message="impl:validarSenhaRequest"
				name="validarSenhaRequest">

			</wsdl:input>

			<wsdl:output message="impl:validarSenhaResponse"
				name="validarSenhaResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="resetSenha"
			parameterOrder="nmUsuario novaSenha cdSistema ipUsuario">

			<wsdl:input message="impl:resetSenhaRequest"
				name="resetSenhaRequest">

			</wsdl:input>

			<wsdl:output message="impl:resetSenhaResponse"
				name="resetSenhaResponse">

			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SegurancaWebServiceSoapBinding"
		type="impl:SegurancaWebService">

		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="login">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="loginRequest">

				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:login" use="encoded" />

			</wsdl:input>

			<wsdl:output name="loginResponse">

				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:SegurancaWebServiceSEG" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="loginPCI">
			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="loginPCIRequest">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:loginPCI" use="encoded" />

			</wsdl:input>

			<wsdl:output name="loginPCIResponse">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:SegurancaWebServiceSEG" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="alterarSenha">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="alterarSenhaRequest">

				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:alterarSenha" use="encoded" />

			</wsdl:input>

			<wsdl:output name="alterarSenhaResponse">

				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:SegurancaWebServiceSEG" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="validarSenha">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="validarSenhaRequest">

				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:validarSenha" use="encoded" />

			</wsdl:input>

			<wsdl:output name="validarSenhaResponse">

				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:SegurancaWebServiceSEG" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="resetSenha">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="resetSenhaRequest">

				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:resetSenha" use="encoded" />

			</wsdl:input>

			<wsdl:output name="resetSenhaResponse">

				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:SegurancaWebServiceSEG" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="SegurancaWebServiceSEG">

		<wsdl:port binding="impl:SegurancaWebServiceSoapBinding"
			name="SegurancaWebService">

			<wsdlsoap:address
				location="http://localhost:9080/SEGPADRAO/services/SegurancaWebService" />

		</wsdl:port>

	</wsdl:service>
	


</wsdl:definitions>
